@model IEnumerable<quiendamas.Models.Articulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    quiendamas.Models.Articulo nuevoArticulo = new quiendamas.Models.Articulo();
}

@*<h2>Index</h2>*@
@*<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAlta" style="margin-top: 20px">Nuevo Articulo</button>*@
<p>
    @Html.ActionLink("Nuevo Articulo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estadoArticulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ApplicationUser.nombre)
        </th*@>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estadoArticulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.nombre)
        </td>
        <td>

            @Html.ActionLink("Subastar", "Create","Subasta", new { id = item.articuloID },null ) |
            @Html.ActionLink("Modificar", "Edit", new { id=item.articuloID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.articuloID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.articuloID })
            @*<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDetalles" id="@item.articuloID">Detalles</button>
            <button name="Borrar" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalBorrar" id="@item.articuloID" style="margin-left:auto">Borrar</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEditar" id="@item.articuloID">Editar</button>*@
        </td>
    </tr>
}

</table>

<div id="modalAlta" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registro de nuevo Articulo</h4>
            </div>

            <div class="modal-body">
                @Html.Partial("Create", nuevoArticulo)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            </div>


        </div>
    </div>
</div>
<div id="modalDetalles" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalles</h4>
            </div>
            <div class="modal-body">
            @*@Html.Partial("Details", nuevoArticulo);*@

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<div id="modalBorrar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("Delete", nuevoArticulo)
            </div>
            <div class="modal-footer">
                <button id="btnBorrar" type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEditar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("Edit", nuevoArticulo)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
