@model quiendamas.Models.Subasta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //int tiempo = 0;
    //int tiempoServer = ViewBag.Tiempo;
    //if (tiempoServer != 0)
    //{
    //    tiempo = ViewBag.Tiempo;
    //}
}

<h2>Details</h2>

<div>
    @*<script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }
    </script>
    <h4>
@if (tiempo != 0)
{
    <script>
        window.onload = function () {
            var Time = 60 * tiempo,
                display = document.querySelector('#Tiempo');
            startTimer(Time, display);
        };

    </script>
        <h1 id="Tiempo"></h1>

}
else
{
       <h1>00:00:00</h1>
}*@

    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.articulo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articulo.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ganador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ganador)
        </dd>

    </dl>
</div>
<p>
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Administrador"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.subastaID })
    }
}
    @Html.ActionLink("Token", "Create","Puja", new { id = Model.subastaID },null)
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
